@layer components {
  .typo-headline-1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
  }

  .typo-headline-2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }

  .typo-body-1 {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }

  .typo-caption {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
}
